@page "/client/list"
@inherits ListBase

<h1>Clients</h1>

<div class="text-right">
    <a href="client/add" class="btn btn-primary"><span class="oi oi-plus"></span> Add client</a>
</div>

@if (Records == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="text-left">
        <input placeholder="Search..." type="text" @oninput="FilterRecords" />
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Created On</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.Email</td>
                    <td>@record.Address</td>
                    <td>@record.CreatedOn.ToString("D")</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-primary" href="client/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => OnDeleteClick(record.Id)"><span class="oi oi-x"></span></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}